:root {
    --height: auto;
    --text-align: center;
    --color: darkblue;
    --border: 1px solid rgb(0 0 0 / .2);
    --background-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

main {
    max-width: 840px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 65px;
}

h1 {
    color: var(--color);
}

main img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 10px;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--background-color);
    color: black;
}